   body{
        justify-items: center;
        padding: 0;
        margin:0;
        width: 100%;
        background-color: black;
        color:white;
    }

    #bola{
        position: absolute;
        background:url(../recursos/imagenes/bola.gif);
        height: 15px;
        width: 15px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 5px white;
    }

    #barra{
        border-radius:20% 20% 20% 20%;
        position: absolute;
        width: 100px;
        height: 30px;
        background:url(../recursos/imagenes/nave.png);

        padding: 0;
    }

    #marco{
        margin-top: 20px;
        box-shadow: 0px 0px 0px 10px white;
        background: url("../recursos/imagenes/fondoestrellas.png");
        align-self: center;
        width: 800px;
        height: 800px;
    }
    .bloque{
        position:absolute;
        box-shadow: inset 0px 0px 0px 0.5px;
        margin:0px;
        background-color: rgb(255, 0, 0);
        width: 80px;
        height: 20px;
        margin-left: 0px;
    }
    #vidas{
        position:absolute ;
        left: 1%;
        list-style: none;
        margin-left: 0%;
    }
        
    #vidas img{
        width: 20vmin;
        height: 20vmin;
    }
    #niveles{
        padding: 0;
    }

    #lose{
        width: max-content;
        justify-self: center;
        justify-self: center;
        
    }
    #lose >img{
        width: 100%;
    }
    #lose >button{
        width: 60%;
        height: 20%;
    }