   body{
        justify-items: center;
        padding: 0;
        margin:0;
        width: 100%;
        background-color: black;
        color:white;
    }

    #bola{
        position: absolute;
        background:url(../recursos/imagenes/bola.gif);
        height: 15px;
        width: 15px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 5px white;
    }

    #barra{
        border-radius:20% 20% 20% 20%;
        position: absolute;
        width: 100px;
        height: 30px;
        background:url(../recursos/imagenes/nave.png);

        padding: 0;
    }

    #marco{
        box-shadow: 0px 0px 0px 10px white;
        background: url("../recursos/imagenes/fondoestrellas.png");
        align-self: center;
        width: 800px;
        height: 800px;
    }
    .bloque{
        position:absolute;
        box-shadow: inset 0px 0px 0px 0.5px;
        margin:0px;
        background-color: rgb(255, 0, 0);
        width: 80px;
        height: 20px;
        margin-left: 0px;
    }
    #vidas{
        position:absolute ;
        left: 1%;
        list-style: none;
        margin-left: 0%;
    }
        
    #vidas img{
        width: 20vmin;
        height: 20vmin;
    }
    #niveles{
        padding: 0;
    }

    #lose{
        position: fixed;
        display: flex;
        height: 40vh;
        width: 40vw;
        justify-self: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;
    }
    #lose >img{
        width: 100%;
    }
    #lose >button{
        width: 60%;
        height: 20%;
    }

    #breinicio {     
        background: url(../recursos/imagenes/Boton-Reinicio.png) no-repeat center center;
        background-size: 100% 100%; 
        border: none; 
        width: inherit; 
        height: inherit; 
        cursor: pointer; 
    }

    #breinicio:active {     
        background: url(../recursos/imagenes/Boton-Reinicio-Hover.png) no-repeat center center;
        background-size: 100% 100%;
        width: inherit; 
        height: inherit;
    }
    #bextra {     
        background: url(../recursos/imagenes/Boton-Extra.png) no-repeat center center;
        background-size: 100% 100%; 
        border: none; 
        width: inherit; 
        height: inherit; 
        cursor: pointer; 
    }
    #bextra:active {     
        background: url(../recursos/imagenes/Boton-Extra-Hover.png) no-repeat center center;
        background-size: 100% 100%;
        border: none;
        width: inherit;
        height: inherit;
    }


    #botones{
        margin-right: 5vw;
        height: 10vh;
        width: 12vw;
        display: grid;
        grid-gap:1vw ;
        align-self: anchor-center;
        position: fixed;
        justify-self: right;
    }
    