  html{
        padding: 0;
    }
    body{
        background-color: rgb(8, 7, 7);
        align-content: center;
        text-align: center;
        justify-content: center;
        padding: 0;
        color:white;
    }
    div#cartas{
        margin-left: 80px;
        justify-self: center;
        width: max-content;
        display: grid;
        grid-template-columns: repeat(5,300px);
    }
    #cartas>div{
         box-sizing: border-box;
        display: flex;
        height: inherit;
       width: inherit;
       margin-bottom: 50px;
    }
    
    #cartas img{
        opacity: 1;
        height: 400px;
        width: 220px;
        object-fit:fill;

        border: 2px solid black;
    }

    #cartas>div:nth-of-type(5n){
        margin-left:0px;
    }
    
    div#abajo {
        position: absolute;
        height: 400px;
        width: 220px;
        text-align: center;
        align-content: center;
        background-color: grey;
        font-size: 3em;
        border:1px solid black;
        

    }

    div#tiempo{
        font-size: 3em;
    }