body{
    background: rgb(54, 54, 54);
}

div#gro{
    justify-self: center;
    
    width: 500px;
    height: max-content;
    justify-items: center;
    box-shadow:   0 0px 10px 5px  #ffffff;
    background-color: white;
    border: black solid 1px;
    font-size: 2em;
    margin:5%
}
div#gro h1{
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 10px;
    margin-bottom: 15px;   
}

div#lista{
    display: grid;
}


div#lista img{
    justify-self: right;
    margin-right: 2%;
    width: 35px;
    height: 35px;
}

div#lista > div {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    width: 500px;
    padding: 5px;
}

div#lista > div p {
    flex:1;
    margin:5px;
}

form#editar{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex: 1;
}
form#editar > input[type="submit"]{
    margin-right: 2%;
    background-color: rgb(198, 149, 255);
    border:2px solid black;
    border-style:dashed; 
}


form#editar > input[type="text"]{
    margin:1.5%;
    width: 80%;
    background-color: rgb(198, 149, 255);
    border:2px solid black;
    border-style:dashed; 
    font-size: 1em;
}
form#editar > input[type="text"]:focus{
    background-color: white;
    border: 0px;
}


form#anadir> input[type="text"]{
    border-color: rgb(132, 0, 255);
    width: 400px;
    margin:0px;
}

form#anadir> input[type="submit"]{
    border:0px;
    height: 2em;
    border-radius: 20%;
    margin:0px;
    background-color: rgb(198, 149, 255);
}
button#limpieza{
    display: flex;
    border: 0px;
    color:red;
    background-color: transparent;
    justify-self: center;
    font-size: 1em;
}